<html>
    <head>
        <title>Tic Tac Toe</title>
        <style>
            #tic_tac_toe_board {
                width: 300px;
                background-color: beige;
                text-align: center;
                border: 2px solid red;
                border-collapse: collapse;
                empty-cells: show;
            }
            tr {
                border: 2px solid red;
            }
            td {
                border: 2px solid red;
            }
        </style>
    </head>

    <body>
        Let's start playing <br><br>

        <select name="Player X" id="player_X_dropdown">
            <option value="human">Human</option>
        </select>
        <select name="Player O" id="player_O_dropdown">
            <option value="human">Human</option>
            <option value="random">Random AI</option>
            <option value="minimax">Minimax</option>
        </select>

        <br><br>

        <table id="tic_tac_toe_board">
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
             <tr>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
           <tr>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </table>

        <br><br>

        <textarea id="from_server" cols="20" rows = "10"></textarea>
        <button id="reset_button">Reset</button>

        <script>
            let cur_player = 'X';
            const nbsp = String.fromCharCode(160); // charCode 160 is a non-breaking space

            const board = document.getElementById('tic_tac_toe_board');
            setDefaultBoard();
                        
            // Connect to server via WebSocket
            const gameSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/tic_tac_toe/'
            )

            function getAIMove(ai, cur_board) {
                gameSocket.send(JSON.stringify({
                    'cur_player': cur_player,
                    'ai': ai,
                    'cur_board': boardToArray(board),
                }))
            }

            gameSocket.onmessage = function(e) {
                // Executes when a message is received from the server
                const game_data = JSON.parse(e.data);
                next_move = game_data.next_move;

                document.getElementById('from_server').textContent += next_move + '\n';

                board.rows[next_move[0]].cells[next_move[1]].textContent = cur_player;
                const winner = getWinner(board);
                const draw = isFull(board);
                if (winner) {
                    console.log(winner)
                    document.getElementById('from_server').textContent += cur_player + ' won!\n';
                    setDefaultBoard();
                }
                else if (draw) {
                    document.getElementById('from_server').textContent += 'Draw!\n';
                    setDefaultBoard();
                }
                else {
                    updatePlayer();
                }
            }

            gameSocket.onclose = function(e) {
                // Executes when the connection closes
                console.error('Chat socket closed unexpectedly');
            };

            // Executes on cell click
            for (let i = 0; i < board.rows.length; i++){
                for (let j = 0; j < board.rows[i].cells.length; j++){
                    board.rows[i].cells[j].onclick = function () {
                        board.rows[i].cells[j].textContent = cur_player;

                        const winner = getWinner(board);
                        const draw = isFull(board);
                        if (winner) {
                            console.log(winner)
                            document.getElementById('from_server').textContent += cur_player + ' won!\n';
                            setDefaultBoard();
                        }
                        else if (draw) {
                            document.getElementById('from_server').textContent += 'Draw!\n';
                            setDefaultBoard();
                        }
                        else {
                            updatePlayer();

                            const ai = document.getElementById('player_O_dropdown').value;
                            if (ai != 'human') {
                                // Get next move from server
                                getAIMove(ai, board);
                            }
                        }
                    }
                }
            }



            // Reset button
            document.getElementById('reset_button').onclick = function () {
                setDefaultBoard();
            }

            function setDefaultBoard() {
                for (let i = 0; i < board.rows.length; i++){
                    for (let j = 0; j < board.rows[i].cells.length; j++){
                        board.rows[i].cells[j].textContent = nbsp;
                    }
                }
                cur_player = 'X';
            }

            function updatePlayer () {
                if (cur_player === 'X') {
                    cur_player = 'O'
                } else {
                    cur_player = 'X'
                };
            }
            
            function boardToArray(board) {
                // Converts the board which is a HTML table to a JavaScript array
                let boardArray = [];
                for (let i = 0; i < board.rows.length; i++){
                    let row = [];
                   for (let j = 0; j < board.rows[i].cells.length; j++){
                       row.push(board.rows[i].cells[j].textContent)
                    }
                    boardArray.push(row);
                }
                return boardArray
            }

            function isFull(board) {
                let boardArray = boardToArray(board);
                console.log(boardArray.flat())
                return !boardArray.flat().includes(nbsp);
            }

            function getWinner(board) {
                function returnWinner(charArray) {
                    let unique = [...new Set(charArray)]
                    return (unique.length === 1 && unique[0] != nbsp ? charArray[0] : null);
                };

                boardArray = boardToArray(board);
                let possibleWinners = [];

                // Check horizontally
                for (let i = 0; i < boardArray.length; i++) {
                    possibleWinners.push(boardArray[i]);
               }

                // Check vertically
                for (let i = 0; i < boardArray.length; i++) {
                    let column = []
                    for (let k = 0; k < boardArray.length; k++) {
                        column.push(boardArray[k][i])
                    }
                    possibleWinners.push(column)
               }

                // Check main diagonal
                let diag = [];
                for (let i = 0; i < boardArray.length; i++) {
                    diag.push(boardArray[i][i]);
                }
                possibleWinners.push(diag)

                // Check other diagonal
                diag = [];
                for (let i = 0; i < boardArray.length; i++) {
                    diag.push(boardArray[i][boardArray.length - i - 1]);
                }
                possibleWinners.push(diag)

                console.log(possibleWinners)

                for (let possibleWinner of possibleWinners) {
                    const winner = returnWinner(possibleWinner);
                    if (winner) { return winner; }
                }

                return null;
            }

            

        </script>
    </body>
</html>