/* Text */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 30px;
  background: #ffffff;
}

header {
  font-size: x-large;
  text-align: center;
  /* padding: 10px; */
}

/* Page contents */
.page_side {
    padding: 5%;
    /* border: 1px solid brown; */
}

#left_side {
    width: 20%;
}

#right_side {
    width: 60%;
}

select {
  width : 8vw;
  padding: 3px;
  margin: 0;
  box-sizing: border-box;
  font-size: large;
  margin-top: 10px;
  margin-bottom: 10px;
}

.player_selectors {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

#game_status_display {
  text-align: center;
  height: 9vw;
  font-size: x-large;
  font-weight: bold;
  vertical-align: middle;
}

/* Game board */
/* Based on https://codepen.io/xunnn/pen/yEmMbm */
.board {
    width: 100%;
    background-color: white;
    text-align: center;
    empty-cells: show;
    font-size: 4vw;
    padding: 20px;
}

#side_board {
  font-size: 2vw !important;
}

td {
  width: 33.33%;
  position: relative;
}

td::after{
  content: '';
  display: block;
  margin-top: 100%;
}

td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.vert {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.hori {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/* Minimax Tree */
.tree {
    overflow: hidden;
    width: 60vw;
    border: 0.05px solid lightgray;
    height: 35vh;
}

#tree_svg {
    float: right;
    user-select: none;
}