.board {
    width: 100%;
    background-color: white;
    text-align: center;
    empty-cells: show;
    font-size: 5em;
    padding: 20px;
}

.page_side {
    padding: 5%;
    /* border: 1px solid brown; */
}

#left_side {
    width: 20%;
}

#right_side {
    width: 60%;
}

.tree {
    overflow: hidden;
    width: 100%;
}

#tree_svg {
    float: right;
    user-select: none;
    /* border: 1px solid brown; */
}

td {
  width: 33.33%;
  position: relative;
  /* height: 50px; */
}

.vert {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.hori {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/* Header/Blog Title */
.header, .footer {
  font-size: 20px;
  text-align: center;
  background: white;
  padding: 10px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 30px;
  background: #ffffff;
}


select {
  width : 8vw;
  padding: 3px;
  margin: 0;
  box-sizing: border-box;
  font-size: large;
}